In [ ]:
import json
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

****READ INVENTORY**** **bold text**

In [ ]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

**ADD NEW ITEM INTO INVENTORY**

In [ ]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)


fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:9865
Enter name:Tong
Enter price:456
Enter quantity:789

In [ ]:

record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1045': {'name': 'Bottle', 'pr': 75, 'qn': 120},
 '1085': {'name': 'Earphones', 'pr': 457, 'qn': 75},
 '1564': {'name': 'Almirah', 'pr': 654, 'qn': 968},
 '2015': {'name': 'Charger', 'pr': 95, 'qn': 45},
 '2054': {'name': 'Cards', 'pr': 85, 'qn': 15},
 '2065': {'name': 'Rings', 'pr': 85, 'qn': 156},
 '2105': {'name': 'Copies', 'pr': 75, 'qn': 151},
 '2564': {'name': 'Extension box', 'pr': 462, 'qn': 46},
 '3025': {'name': 'Keys', 'pr': 85, 'qn': 456},
 '3056': {'name': 'Sim', 'pr': 86, 'qn': 425},
 '3655': {'name': 'Mouse', 'pr': 600, 'qn': 164},
 '5656': {'name': 'Carry bag', 'pr': 65, 'qn': 1230},
 '6542': {'name': 'Bowl', 'pr': 7895, 'qn': 4562},
 '6957': {'name': 'Slippers', 'pr': 968, 'qn': 895},
 '785': {'name': '15', 'pr': 45, 'qn': 750},
 '7854': {'name': 'Coffee', 'pr': 45, 'qn': 150},
 '78954': {'name': 'Namkeen ', 'pr': 966, 'qn': 785},
 '8564': {'name': 'Coller', 'pr': 4500, 'qn': 10},
 '895': {'name': 'Cover', 'pr': 895, 'qn': 795},
 '8954': {'name': 'Goggles', 'pr': 89, 'qn': 55},
 '9205': {'name': 'Television', 'pr': 8500, 'qn': 46},
 '9565': {'name': 'Dairy', 'pr': 653, 'qn': 16},
 '9654': {'name': 'Mug', 'pr': 65, 'qn': 856},
 '9856': {'name': 'Coil', 'pr': 85, 'qn': 79}}

In [ ]:
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

In [ ]:
del record['1001']

In [ ]:
record

{'1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1045': {'name': 'Bottle', 'pr': 75, 'qn': 120},
 '1085': {'name': 'Earphones', 'pr': 457, 'qn': 75},
 '1564': {'name': 'Almirah', 'pr': 654, 'qn': 968},
 '2015': {'name': 'Charger', 'pr': 95, 'qn': 45},
 '2054': {'name': 'Cards', 'pr': 85, 'qn': 15},
 '2065': {'name': 'Rings', 'pr': 85, 'qn': 156},
 '2105': {'name': 'Copies', 'pr': 75, 'qn': 151},
 '2564': {'name': 'Extension box', 'pr': 462, 'qn': 46},
 '3025': {'name': 'Keys', 'pr': 85, 'qn': 456},
 '3056': {'name': 'Sim', 'pr': 86, 'qn': 425},
 '3655': {'name': 'Mouse', 'pr': 600, 'qn': 164},
 '5656': {'name': 'Carry bag', 'pr': 65, 'qn': 1230},
 '6542': {'name': 'Bowl', 'pr': 7895, 'qn': 4562},
 '6957': {'name': 'Slippers', 'pr': 968, 'qn': 895},
 '785': {'name': '15', 'pr': 45, 'qn': 750},
 '7854': {'name': 'Coffee', 'pr': 45, 'qn': 150},
 '78954': {'name': 'Namkeen ', 'pr': 966, 'qn': 785},
 '8564': {'name': 'Coller', 'pr': 4500, 'qn': 10},
 '895': {'name': 'Cover', 'pr': 895, 'qn': 795},
 '8954': {'name': 'Goggles', 'pr': 89, 'qn': 55},
 '9205': {'name': 'Television', 'pr': 8500, 'qn': 46},
 '9565': {'name': 'Dairy', 'pr': 653, 'qn': 16},
 '9567': {'name': 'Hammer', 'pr': 8967, 'qn': 78957},
 '9654': {'name': 'Mug', 'pr': 65, 'qn': 856},
 '9856': {'name': 'Coil', 'pr': 85, 'qn': 79},
 '9865': {'name': 'Tong', 'pr': 456, 'qn': 789}}

**PURCHASE**

In [ ]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", record[ui_prod]['name'])
print("Price: ", record[ui_prod]['pr'])
print("Billing Amount: ", record[ui_prod]['pr'] * ui_quant)

record[ui_prod]['qn'] = record[ui_prod]['qn'] - ui_quant

Enter the product_Id: 9654
Enter the quantity: 8
Product:  Mug
Price:  65
Billing Amount:  520

**UPDATE INVENTORY AFTER PURCHASE**

In [ ]:
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

In [ ]:
record

{'1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1045': {'name': 'Bottle', 'pr': 75, 'qn': 120},
 '1085': {'name': 'Earphones', 'pr': 457, 'qn': 75},
 '1564': {'name': 'Almirah', 'pr': 654, 'qn': 968},
 '2015': {'name': 'Charger', 'pr': 95, 'qn': 45},
 '2054': {'name': 'Cards', 'pr': 85, 'qn': 15},
 '2065': {'name': 'Rings', 'pr': 85, 'qn': 156},
 '2105': {'name': 'Copies', 'pr': 75, 'qn': 151},
 '2564': {'name': 'Extension box', 'pr': 462, 'qn': 46},
 '3025': {'name': 'Keys', 'pr': 85, 'qn': 456},
 '3056': {'name': 'Sim', 'pr': 86, 'qn': 425},
 '3655': {'name': 'Mouse', 'pr': 600, 'qn': 164},
 '5656': {'name': 'Carry bag', 'pr': 65, 'qn': 1230},
 '6542': {'name': 'Bowl', 'pr': 7895, 'qn': 4562},
 '6957': {'name': 'Slippers', 'pr': 968, 'qn': 895},
 '785': {'name': '15', 'pr': 45, 'qn': 750},
 '7854': {'name': 'Coffee', 'pr': 45, 'qn': 150},
 '78954': {'name': 'Namkeen ', 'pr': 966, 'qn': 785},
 '8564': {'name': 'Coller', 'pr': 4500, 'qn': 10},
 '895': {'name': 'Cover', 'pr': 895, 'qn': 795},
 '8954': {'name': 'Goggles', 'pr': 89, 'qn': 55},
 '9205': {'name': 'Television', 'pr': 8500, 'qn': 46},
 '9565': {'name': 'Dairy', 'pr': 653, 'qn': 16},
 '9567': {'name': 'Hammer', 'pr': 8967, 'qn': 78957},
 '9654': {'name': 'Mug', 'pr': 65, 'qn': 848},
 '9856': {'name': 'Coil', 'pr': 85, 'qn': 71},
 '9865': {'name': 'Tong', 'pr': 456, 'qn': 785}}

**SALES JSON**

In [ ]:
{'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant}

{'amount': 520, 'prod': '9654', 'qn': 8}

In [ ]:
sales = {1 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant},
         2 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant},
         3 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant}}

In [ ]:
sale = json.dumps(sales)

In [ ]:
sales = {}
sales = {1 : {'prod' : 89544, 'qn' : 89, 'amount': 89},
         2 : {'prod' : 9865, 'qn' : 65, 'amount': 653},
         3 : {'prod' : 9856, 'qn' : 85, 'amount': 85},
         4 : {'prod' : 9654, 'qn' : 8, 'amount': 65},
         5 : {'prod' : 9205, 'qn' : 2, 'amount': 653}}

In [ ]:
sales

{1: {'amount': 89, 'prod': 89544, 'qn': 89},
 2: {'amount': 653, 'prod': 9865, 'qn': 65},
 3: {'amount': 85, 'prod': 9856, 'qn': 85},
 4: {'amount': 65, 'prod': 9654, 'qn': 8},
 5: {'amount': 653, 'prod': 9205, 'qn': 2}}

In [ ]:
sale = json.dumps(sales)
fd = open("sales.json",'w')
fd.write('sales')
fd.close()

In [ ]:
sale

'{"1": {"prod": 89544, "qn": 89, "amount": 89}, "2": {"prod": 9865, "qn": 65, "amount": 653}, "3": {"prod": 9856, "qn": 85, "amount": 85}, "4": {"prod": 9654, "qn": 8, "amount": 65}, "5": {"prod": 9205, "qn": 2, "amount": 653}}'

In [ ]:
sales = {1 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant},
         2 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant},
         3 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant}}

In [ ]:
sale

'{"1": {"prod": 89544, "qn": 89, "amount": 89}, "2": {"prod": 9865, "qn": 65, "amount": 653}, "3": {"prod": 9856, "qn": 85, "amount": 85}, "4": {"prod": 9654, "qn": 8, "amount": 65}, "5": {"prod": 9205, "qn": 2, "amount": 653}}'

**THANK YOU**